<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>App</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
